.accordion {
    font-family: $stack-garamond;
    // margin:0 auto;
    margin-left: 5%;
    font-size:24px;
    border:1px solid #542437;
    border-radius:10px;
    width: 80vw;
    background: $charcoal;
    @include bp(tablet){
    margin-left: 8%;
    }
    @include bp(fullscreen){
      // margin: 0 auto;
       margin-left: 7%;
    }
}

.accordion ul {
	list-style: none;
	margin: 0 auto;
	text-align: center;
}
.accordion li {
    margin:0;
    padding:0;
    // height: 50px;

}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
  // height: 50px;
    display:block;
    font-size:16px;
    line-height:16px;
    // background: darken($red, 20%);
    border:1px solid #542437;
    color: $sand;
    text-shadow:1px 1px 1px rgba(255,255,255,0.3);
    font-weight:700;
    cursor:pointer;
    text-transform:uppercase;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    @include bp(fullscreen){
      line-height: 50px;
      font-size: $font-size__h5;
      text-align: center;
    }
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background: $cabernet-red;
    color: $ivory;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.accordion .content {
      // padding: 1px0 10px;
     overflow:hidden;
     border: 1px solid $mustard; /* Make the border match the background so it fades in nicely */
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}



// .accordion h3 {
//     color:#542437;
//     padding:0px;
//     margin:10px 0;
// }



/* Vertical */
.vertical ul li {
     overflow:hidden;
    margin:0 0 1px;


}
.vertical ul li label {
    // padding:10px;
     padding:20px;

}


/*hide content before labels clicked*/
.vertical ul li .content {
 height: 0px;
 border-top:0;


}

// contains thumbnail images
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height: 210px;
    border:2px solid darken($red, 20%);
    background-color: darken($mustard, 20%);
    padding-top: 40px;
      @include bp(tablet_small){
        height: 400px;
      }
   @include bp(fullscreen){
     text-align: center;
    //  margin-bottom: 40px;
    padding-bottom: 400px;
   }
}
